{{ define "content" }}
<h2 id="jobTitle">{{ .Name }}</h2>
<h3 id="jobResult">{{ .ExitMessage }}</h3>
<pre id="jobOutput">{{ .Output }}</pre>

<script type="text/javascript" src="/javascript/vendor/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
	window.job = {
		jobId: '{{ .ID }}',
		buildNumber: '{{ .BuildNumber }}',
		bytesAleadyReceived: '{{ .BytesAlreadyReceived }}',
		finished: '{{ .ExitMessage }}' !== 'Running'
	};
</script>
<script type="text/javascript" src="/javascript/stream-output.js"></script>
{{ end }}
