{{ define "layout" }}
<div class="monitor-container">
    <div class="monitor-header">
        <h1 class="monitor-title">Woodhouse CI</h1>
        <a id="newJob" class="pull-right" href="/jobs/new">Create a job</a>
    </div>

    <div class="container-fluid job-list">
        {{ range $row := .BuildRows }}
        <div class="row job-row">
            {{ range $build := $row }}
            <div class="col-md-4 job-cell">
                <div class="job">
                    <a id="{{ $build.ID }}" class="{{ $build.Status }}" href="/jobs/{{ $build.ID }}/builds/latest">
                        <span>{{ $build.Name }}</span>
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
<script type="text/javascript" src="/javascript/list_jobs.js"></script>
{{ end }}
